<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${@enqueteProps.applicationName}">アンケート</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"
          href="../../../../../../enquete/src/main/resources/static/images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../../../../../enquete/src/main/resources/static/css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}"
          href="../../../../../../enquete/src/main/resources/static/css/theme.css"/>
</head>
<body>
<div>
    <section>
        <h1 th:text="${@enqueteProps.applicationName}">アンケート</h1>
        <p sec:authorize="authenticated">
            <span sec:authentication="principal.name">duke</span>さんログイン中。
        </p>
    </section>
    <section>
        <h3>CFP情報をインポート</h3>
        <form th:action="@{/admin/import}" method="get">
            <input type="text" name="seminarName" placeholder="Seminar Name" required="required"/>
            <input type="date" name="seminarDate" placeholder="Seminar Date" required="required"/>
            <input type="url" name="url" placeholder="CFP URL" required="required"/>
            <input type="submit" value="Load"/>
        </form>
    </section>
    <section th:if="${submissions != null}">
        <h3>CFP</h3>
        <table>
            <tr>
                <th>SeminarID</th>
                <th>SeminarName</th>
                <th>SeminarDate</th>
            </tr>
            <tr>
                <td th:text="${seminar.seminarId}"></td>
                <td th:text="${seminar.seminarName}"></td>
                <td th:text="${seminar.seminarDate}"></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>SessionID</th>
                <th>SessionName</th>
                <th>SpeakerName</th>
                <th>SpeakerDisplayName</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
            </tr>
            <tr th:each="submission : ${submissions}">
                <td th:text="${submission.sessionId}"></td>
                <td th:text="${submission.sessionName}"></td>
                <td th:text="${submission.speakers}"></td>
                <td th:text="${submission.speakerDisplayNames}"></td>
            </tr>
        </table>

        <form th:action="@{/admin/import}" method="post">
            <input type="submit" value="Import"/>
        </form>
    </section>
</div>
</body>
</html>